[submodule "vendor/bra64rt"]
	path = vendor/bra64rt
	url = https://github.com/beloncode/bra64rt.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/RakNet"]
	path = vendor/RakNet
	url = https://github.com/beloncode/RakNet.git
